#app {
    width: 960px;
    margin: 0 auto;
}

.top {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;

    li {
        list-style: none;
        margin-left: 2rem;
    }
}

h1 {
    font-size: 1.6rem;
}